# Frontend
Frontend/.output
Frontend/.data
Frontend/.nuxt
Frontend/.nitro
Frontend/.cache
Frontend/dist

# Node dependencies
**/node_modules

# Logs
**/logs
**/*.log

# Misc
**/.DS_Store
**/.fleet
**/.idea

# Local env files
**/.env
**/.env.*
!**/.env.example